<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MBP81.0047.27.1110141131</string>
		<key>BiosReleaseDate</key>
		<string>10/14/11</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>ProductName</key>
		<string>MacBookPro8,2</string>
		<key>Version</key>
		<string>1.0</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>SerialNumber</key>
		<string>C02HX851DF8X</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>Board-ID</key>
		<string>Mac-94245A3940C91C80</string>
	</dict>
	<key>Boot</key>
	<dict>
		<key>CustomLogo</key>
		<string>No</string>
		<key>Timeout</key>
		<integer>5</integer>
		<key>Arguments</key>
		<string>kext-dev-mode=1 slide=0</string>
		<key>DefaultVolume</key>
		<string>Macintosh</string>
		<key>Log</key>
		<false/>
		<key>Fast</key>
		<false/>
		<key>XMPDetection</key>
		<string>-1</string>
		<key>Legacy</key>
		<string>PBR</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>Debug</key>
		<false/>
		<key>KernelCpu</key>
		<false/>
		<key>AsusAICPUPM</key>
		<false/>
		<key>AppleRTC</key>
		<false/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Find</key>
				<data>AQIEABAHAAAQBwAABQMAAAIAAAAwAAAAAgUAAAAEAAAHAAAAAwQAAAAEAAAJAAAABAYAAAAEAAAJAAAA</data>
				<key>Comment</key>
				<string>HDMI+VGA+Brightness</string>
				<key>Name</key>
				<string>AppleIntelSNBGraphicsFB</string>
				<key>Replace</key>
				<data>AQIDABITAAASEwAABQMAAAIAAAAwAAAABgIAAAIAAAAwAAAAAgUAAAAIAAAHAAAAAAAAAAAAAAAAAAAA</data>
			</dict>
			<dict>
				<key>Find</key>
				<data>hBnUEQ==</data>
				<key>Comment</key>
				<string>AD1984 -&gt; 92HD87B1/3</string>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>0XYdEQ==</data>
			</dict>
			<dict>
				<key>Find</key>
				<data>eG1sLnps</data>
				<key>Comment</key>
				<string>xml.zlib -&gt; aml.zlib</string>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>YW1sLnps</data>
			</dict>
		</array>
	</dict>
	<key>ACPI</key>
	<dict>
		<key>HaltEnabler</key>
		<false/>
		<key>DSDT</key>
		<dict>
			<key>Debug</key>
			<false/>
			<key>Name</key>
			<string>DSDT.aml</string>
			<key>Fixes</key>
			<dict>
				<key>AddDTGP_0001</key>
				<false/>
				<key>FixDarwin_0002</key>
				<false/>
				<key>FixShutdown_0004</key>
				<false/>
				<key>AddMCFG_0008</key>
				<false/>
				<key>FixHPET_0010</key>
				<false/>
				<key>FakeLPC_0020</key>
				<false/>
				<key>FixIPIC_0040</key>
				<false/>
				<key>FixSBUS_0080</key>
				<false/>
				<key>FixDisplay_0100</key>
				<false/>
				<key>FixIDE_0200</key>
				<false/>
				<key>FixSATA_0400</key>
				<false/>
				<key>FixFirewire_0800</key>
				<false/>
				<key>FixUSB_1000</key>
				<false/>
				<key>FixLAN_2000</key>
				<false/>
				<key>FixAirport_4000</key>
				<false/>
				<key>FixHDA_8000</key>
				<false/>
			</dict>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>Cpu0Ist</string>
			</dict>
		</array>
		<key>SSDT</key>
		<dict>
			<key>Generate</key>
			<dict>
				<key>PStates</key>
				<true/>
				<key>CStates</key>
				<true/>
			</dict>
			<key>PLimitDict</key>
			<integer>0</integer>
			<key>UnderVoltStep</key>
			<integer>0</integer>
			<key>MinMultiplier</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>Nothing</string>
	</array>
	<key>RtVariables</key>
	<dict>
		<key>MountEFI</key>
		<false/>
		<key>LogLineCount</key>
		<integer>3000</integer>
		<key>LogEveryBoot</key>
		<string>10</string>
	</dict>
	<key>GUI</key>
	<dict>
		<key>TextOnly</key>
		<false/>
		<key>Language</key>
		<string>en:0</string>
		<key>Theme</key>
		<string>black_green</string>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
			<key>Speed</key>
			<integer>0</integer>
		</dict>
		<key>Hide</key>
		<array>
			<string>HD(4,GPT,3698EAD0-5B35-4A52-A73D-A675CDE45D4B,0x25048800,0x2580F800)</string>
		</array>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Tool</key>
			<true/>
			<key>Legacy</key>
			<false/>
		</dict>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Inject</key>
		<false/>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<string>No</string>
		</dict>
		<key>FakeID</key>
		<dict>
			<key>ATI</key>
			<string>0x0</string>
			<key>IntelGFX</key>
			<string>0x0</string>
			<key>NVidia</key>
			<string>0x0</string>
			<key>SATA</key>
			<string>0x0</string>
			<key>WIFI</key>
			<string>0x0</string>
			<key>LAN</key>
			<string>0x0</string>
			<key>XHCI</key>
			<string>0x0</string>
		</dict>
		<key>USB</key>
		<dict>
			<key>Inject</key>
			<false/>
			<key>FixOwnership</key>
			<false/>
			<key>AddClockID</key>
			<false/>
		</dict>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>No</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>Intel</key>
			<false/>
			<key>ATI</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
